.t {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.t h1{
    text-align: center;
}

.t form, section {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 800px;
    margin: 0 auto;
}

.t form textarea {
    background-color: RGBA(0,0,0,50%);
    resize: none;
    max-width: 100vw;
    min-height: 60px;
    padding: 10px;
}

.t form button {
    color: aliceblue;
    background-color: RGBA(0,0,0,50%);
    cursor: pointer;
}

.t .ib {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 8px;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.t .ib:hover {
    background-color: aquamarine;

}

.t .bc {
    display: flex;
    gap: 6px;
}

.t .tc, .todo {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.t .todo {
    padding: 14px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
